$headerHeight: 75px;
$footerHeight: 200px;
$header-background: black;
$brand-color: #2196f3;
$brand-gray: #c8c8c8;
$brand-green: #9acd32;

$max-width-section: 1000px;
$background-input-shadow: 0 3px 8px 0 rgba(100, 100, 100, 0.07), 0 4px 10px 0 rgba(100, 100, 100, 0.07);

$leftPanelWidth: 240px;
$footerHeight: 240px;

$link: #576A8F;
$link-hover: #374560;
$input-text-primary-color: black;
$text-primary-color: #333;
$very-light-gray: rgb(40, 39, 39);
$input-placeholder-color: #ccc;
$input-error-border-color: #dd6262;
$input-error-bg-color: #f8bcbc;

$btn-text-color: white;
$btn-color: #576A8F;
$btn-hover-color: #374560;
$mainColor: #2196f3;
