.content {
  padding: 80px 2% 2% 2%;

  .text {
    margin-bottom: 15px;
  }

  .models {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 25px 0;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #dee9f1;

    h3 {
      font-size: 1.2em;
      margin: 0 0 10px 0;
    }

    .text {
      font-size: 0.8em;
      color: black;
    }
  }
}

.head {
  .headImage {
    padding: 100px 2% 200px 2%;
    background-position: center top;
    margin-bottom: -50px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 400px;
  }

  h1 {
    font-size: 6em;
    line-height: 0.5;
    padding: 0;
    margin-bottom: 5px;
    color: orange;
  }

  h2 {
    line-height: 0.5;
    padding: 0;
    margin-bottom: 150px;
  }
}

.headDodge {
  @extend .headImage;

  min-height: 500px !important;
  background-image: url('/src/client/assets/img/dodge-lineup.jpg');
}

.headMustang {
  @extend .headImage;

  min-height: 500px !important;
  background-image: url('/src/client/assets/img/mustang-lineup.jpg');
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  .content {

  }
}

@media screen and (max-width: 47.2em) {
  .content {

  }
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
  .modalStyle {
    width: 100%;
    max-width: 100%;
    height: 95vh;
  }

  .content {
    padding: 80px 15px 15px 15px;
    text-align: center;
  }
}
